---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4/zones?name=record-store-dns-tests.shopitest.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CLOUDFLARE_API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":[{"code":6003,"message":"Invalid request
        headers","error_chain":[{"code":6111,"message":"Invalid format for Authorization
        header"}]}],"messages":[],"result":null}'
  recorded_at: Wed, 26 Feb 2025 18:18:59 GMT
recorded_with: VCR 6.2.0
