---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4/zones?name=record-store-dns-tests.shopitest.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CLOUDFLARE_API_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Period:
      - 0
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":[{"code":6003,"message":"Invalid request
        headers","error_chain":[{"code":6111,"message":"Invalid format for Authorization
        header"}]}],"messages":[],"result":null}'
  recorded_at: Wed, 26 Feb 2025 18:18:59 GMT
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/zones/test-zone-id/dns_records/batch
    body:
      encoding: UTF-8
      string: '{"deletes":[],"patches":[],"posts":[{"name":"error.example.com.","ttl":600,"type":"A","content":"192.0.2.1"}],"puts":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CLOUDFLARE_API_TOKEN>
  response:
    status:
      code: 404
      message: Not found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":null,"success":false,"errors":[{"code":7003,"message":"Could
        not route to /client/v4/zones/test-zone-id/dns_records/batch, perhaps your
        object identifier is invalid?"}],"messages":[]}'
  recorded_at: Wed, 26 Mar 2025 20:23:29 GMT
recorded_with: VCR 6.2.0
