---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v1/domains/dns-scratch.me/records
    body:
      encoding: UTF-8
      string: '{"record":{"name":"","record_type":"ALIAS","content":"dns-scratch.herokuapp.com","ttl":86400,"priority":null}}'
    headers:
      X-DNSimple-Token:
      - "<DNSIMPLE_EMAIL>:<DNSIMPLE_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      ETag:
      - W/"9bc6a79740b1eb8015dda23b44ac930b"
    body:
      encoding: UTF-8
      string: '{"record":{"id":5209959,"domain_id":222002,"parent_id":null,"name":"","content":"dns-scratch.herokuapp.com","ttl":86400,"prio":null,"record_type":"ALIAS","system_record":false,"created_at":"2015-12-15T16:52:50.970Z","updated_at":"2015-12-15T16:52:50.970Z"}}'
  recorded_at: Tue, 15 Dec 2015 16:52:51 GMT
[...]
- request:
    method: delete
    uri: https://api.dnsimple.com/v1/domains/dns-scratch.me/records/5209960
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-DNSimple-Token:
      - "<DNSIMPLE_EMAIL>:<DNSIMPLE_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      ETag:
      - W/"99914b932bd37a50b983c5e7c90ae93b"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 15 Dec 2015 16:52:52 GMT
[...]
