---
http_interactions:
- request:
    method: get
    uri: https://api.dnsimple.com/v1/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-DNSimple-Token:
      - "<DNSIMPLE_EMAIL>:<DNSIMPLE_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      ETag:
      - W/"d81d664fe48d35b7022bf36f13eb0317"
    body:
      encoding: UTF-8
      string: '[{"domain":{"id":222002,"user_id":null,"registrant_id":null,"name":"dns-scratch.me","unicode_name":"dns-scratch.me","token":"9lzTQu3SAtBZ0Ng5R504ryu0m1TztavP","state":"hosted","language":null,"lockable":true,"auto_renew":false,"whois_protected":false,"record_count":7,"service_count":0,"expires_on":null,"created_at":"2015-12-09T01:55:04.032Z","updated_at":"2015-12-09T01:55:04.032Z"}}]'
  recorded_at: Mon, 14 Dec 2015 23:56:48 GMT
recorded_with: VCR 2.9.3
