---
http_interactions:
- request:
    method: get
    uri: https://api.dnsimple.com/v2/dnsimple_account_id/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<DNSIMPLE_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2400'
      X-Ratelimit-Remaining:
      - '2386'
      X-Ratelimit-Reset:
      - '1516829521'
      Etag:
      - W/"dfd12385d3b4f989d238cc3397cc28c8"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":222002,"account_id":"dnsimple_account_id","registrant_id":null,"name":"dns-scratch.me","unicode_name":"dns-scratch.me","token":"9lzTQu3SAtBZ0Ng5R504ryu0m1TztavP","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2015-12-09T01:55:04Z","updated_at":"2015-12-09T01:55:04Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'
  recorded_at: Wed, 24 Jan 2018 20:43:01 GMT
recorded_with: VCR 4.0.0
