---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v1/domains/dns-scratch.me/records
    body:
      encoding: UTF-8
      string: '{"record":{"name":"test-record","record_type":"A","content":"10.10.10.42","ttl":86400,"priority":null}}'
    headers:
      X-DNSimple-Token:
      - "<DNSIMPLE_EMAIL>:<DNSIMPLE_API_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      ETag:
      - W/"e43529baa4f39253403e4ea5eeea11b3"
    body:
      encoding: UTF-8
      string: '{"record":{"id":5207716,"domain_id":222002,"parent_id":null,"name":"test-record","content":"10.10.10.42","ttl":86400,"prio":null,"record_type":"A","system_record":false,"created_at":"2015-12-14T23:59:43.036Z","updated_at":"2015-12-14T23:59:43.036Z"}}'
  recorded_at: Mon, 14 Dec 2015 23:59:43 GMT
recorded_with: VCR 2.9.3
