---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v2/<DNSIMPLE_ACCOUNT_ID>/zones/dns-scratch.me/records
    body:
      encoding: UTF-8
      string: '{"name":"","type":"ALIAS","content":"dns-scratch.herokuapp.com","ttl":86400,"priority":null}'
    headers:
      Authorization:
      - "<DNSIMPLE_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2400'
      X-Ratelimit-Remaining:
      - '2385'
      X-Ratelimit-Reset:
      - '1516829520'
      Etag:
      - W/"8067b699d9498d94df7d32f7d5673297"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":13343287,"zone_id":"dns-scratch.me","parent_id":null,"name":"","content":"dns-scratch.herokuapp.com","ttl":86400,"priority":null,"type":"ALIAS","regions":["global"],"system_record":false,"created_at":"2018-01-24T20:44:33Z","updated_at":"2018-01-24T20:44:33Z"}}'
  recorded_at: Wed, 24 Jan 2018 20:44:33 GMT
[...]
- request:
    method: delete
    uri: https://api.dnsimple.com/v2/<DNSIMPLE_ACCOUNT_ID>/zones/dns-scratch.me/records/13343288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<DNSIMPLE_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '2400'
      X-Ratelimit-Remaining:
      - '2383'
      X-Ratelimit-Reset:
      - '1516829521'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 24 Jan 2018 20:44:34 GMT
[...]
