---
http_interactions:
- request:
    method: post
    uri: https://api.dnsimple.com/v2/<DNSIMPLE_ACCOUNT_ID>/zones/dns-scratch.me/records
    body:
      encoding: UTF-8
      string: '{"name":"test-record","type":"A","content":"10.10.10.42","ttl":86400,"priority":null}'
    headers:
      Authorization:
      - "<DNSIMPLE_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '2400'
      X-Ratelimit-Remaining:
      - '2381'
      X-Ratelimit-Reset:
      - '1516829520'
      Etag:
      - W/"d704e0bdf73eac718a0c883df6c284a3"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":13343292,"zone_id":"dns-scratch.me","parent_id":null,"name":"test-record","content":"10.10.10.42","ttl":86400,"priority":null,"type":"A","regions":["global"],"system_record":false,"created_at":"2018-01-24T20:46:05Z","updated_at":"2018-01-24T20:46:05Z"}}'
  recorded_at: Wed, 24 Jan 2018 20:46:05 GMT
recorded_with: VCR 4.0.0
