---
http_interactions:
- request:
    method: post
    uri: https://api-v4.dynect.net/REST/Session
    body:
      encoding: UTF-8
      string: '{"customer_name":"dynect_customer","user_name":"<DYNECT_USERNAME>","password":"<DYNECT_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
      API-Version:
      - 3.5.2
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "data": {"token": "<DYNECT_AUTH_TOKEN>", "version":
        "3.5.2"}, "job_id": 1974045795, "msgs": [{"INFO": "login: Login successful",
        "SOURCE": "BLL", "ERR_CD": null, "LVL": "INFO"}]}'
  recorded_at: Fri, 06 Nov 2015 20:01:06 GMT
- request:
    method: get
    uri: https://api-v4.dynect.net/REST/Zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      API-Version:
      - 3.5.2
      Auth-Token:
      - "<DYNECT_AUTH_TOKEN>"
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "data": ["/REST/Zone/dns-test.shopify.io/"],
        "job_id": 1974045812, "msgs": [{"INFO": "get: Your zone, dns-test.shopify.io",
        "SOURCE": "BLL", "ERR_CD": null, "LVL": "INFO"}]}'
  recorded_at: Fri, 06 Nov 2015 20:01:06 GMT
recorded_with: VCR 2.9.3
