---
http_interactions:
- request:
    method: post
    uri: "<GOOGLE_CLOUD_DNS_TOKEN_URI>"
    body:
      encoding: ASCII-8BIT
      string: "<GOOGLE_CLOUD_DNS_AUTH_SECRET>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Mon, 08 Jan 2018 23:26:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/dns/v1/projects/project_id/managedZones/dns-scratch-me
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"l6W8dA7WZETYLDZJmyLb1fijyh0/RzYr1wdyHIdWpTxp8_L0RH3RstE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "dns#managedZone",
         "name": "dns-scratch-me",
         "dnsName": "dns-scratch.me.",
         "description": "",
         "id": "759513122143970307",
         "nameServers": [
          "ns-cloud-d1.googledomains.com.",
          "ns-cloud-d2.googledomains.com.",
          "ns-cloud-d3.googledomains.com.",
          "ns-cloud-d4.googledomains.com."
         ],
         "creationTime": "2018-01-04T18:39:10.180Z"
        }
  recorded_at: Mon, 08 Jan 2018 23:26:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/dns/v1/projects/project_id/managedZones/759513122143970307/rrsets
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"l6W8dA7WZETYLDZJmyLb1fijyh0/fYfEVVtp0IYgNUCkcDNDMY9VDqE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "dns#resourceRecordSetsListResponse",
         "rrsets": [
          {
           "kind": "dns#resourceRecordSet",
           "name": "dns-scratch.me.",
           "type": "MX",
           "ttl": 300,
           "rrdatas": [
            "10 mail-server.example.com.",
            "123 mail.example.com."
           ]
          },
          {
           "kind": "dns#resourceRecordSet",
           "name": "dns-scratch.me.",
           "type": "NS",
           "ttl": 21600,
           "rrdatas": [
            "ns-cloud-d1.googledomains.com.",
            "ns-cloud-d2.googledomains.com.",
            "ns-cloud-d3.googledomains.com.",
            "ns-cloud-d4.googledomains.com."
           ]
          },
          {
   [...]
