---
http_interactions:
- request:
    method: post
    uri: "<GOOGLE_CLOUD_DNS_TOKEN_URI>"
    body:
      encoding: ASCII-8BIT
      string: "<GOOGLE_CLOUD_DNS_AUTH_SECRET>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Fri, 19 Jan 2018 23:00:56 GMT
- request:
    method: get
    uri: https://dns.googleapis.com/dns/v1/projects/project_id/managedZones/dns-test-shopify-io
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8hEI1sJayVSMdCJoXoguBX0hvv0/cYoVyvrRq9AqQf4lhUe4fTP6xGI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "dns#managedZone",
         "name": "dns-test-shopify-io",
         "dnsName": "dns-test.shopify.io.",
         "description": "Test for Record Store",
         "id": "4643813348782290994",
         "nameServers": [
          "ns-cloud-b1.googledomains.com.",
          "ns-cloud-b2.googledomains.com.",
          "ns-cloud-b3.googledomains.com.",
          "ns-cloud-b4.googledomains.com."
         ],
         "creationTime": "2018-01-19T23:00:24.833Z"
        }
  recorded_at: Fri, 19 Jan 2018 23:00:56 GMT
- request:
    method: get
    uri: https://dns.googleapis.com/dns/v1/projects/project_id/managedZones/4643813348782290994/rrsets?name=dns-test.shopify.io.&type=SOA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8hEI1sJayVSMdCJoXoguBX0hvv0/RuPvtAgA4t6DzIYDKOtnc6sClEQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "dns#resourceRecordSetsListResponse",
         "rrsets": [
          {
           "kind": "dns#resourceRecordSet",
           "name": "dns-test.shopify.io.",
           "type": "SOA",
           "ttl": 21600,
           "rrdatas": [
            "ns-cloud-b1.googledomains.com. cloud-dns-hostmaster.google.com. 1 21600 3600 259200 300"
           ]
          }
         ]
        }
  recorded_at: Fri, 19 Jan 2018 23:00:56 GMT
- request:
    method: post
    uri: https://dns.googleapis.com/dns/v1/projects/project_id/managedZones/4643813348782290994/changes
    body:
      encoding: UTF-8
      string: '{"additions":[{"kind":"dns#resourceRecordSet","name":"test-record.dns-test.shopify.io.","rrdatas":["10.10.10.42"],"ttl":86400,"type":"A"},{"kind":"dns#resourceRecordSet","name":"dns-test.shopify.io.","rrdatas":["ns-cloud-b1.googledomains.com.
        cloud-dns-hostmaster.google.com. 2 21600 3600 259200 300"],"ttl":21600,"type":"SOA"}],"deletions":[{"kind":"dns#resourceRecordSet","name":"dns-test.shopify.io.","rrdatas":["ns-cloud-b1.googledomains.com.
        cloud-dns-hostmaster.google.com. 1 21600 3600 259200 300"],"ttl":21600,"type":"SOA"}],"kind":"dns#change"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GOOGLE_CLOUD_DNS_AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8hEI1sJayVSMdCJoXoguBX0hvv0/xcSCLtcvSX-I0nfRrHCRdNrrZlc"'
      Co[...]
