---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/very_long_txt_record_more_than_255_chars.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Mon, 02 Mar 2020 16:42:01 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/very_long_txt_record_more_than_255_chars.test.recordstore.io/TXT
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789"]}],"ttl":60,"zone":"test.recordstore.io","domain":"very_long_txt_record_more_than_255_chars.test.recordstore.io","type":"TXT"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"very_long_txt_record_more_than_255_chars.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["0<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>567890<DNSIMPLE_ACCOUNT_ID>56789"],"id":"5e5d3759f8d9f200861ece16"}],"id":"5e5d3759f8d9f200861ece17","regions":{},"meta":{},"link":null,"filters":[],"ttl":60,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Mon, 02 Mar 2020 16:42:02 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      Etag:
      - W/"ade99158b60e4b12458ccf6b3a0aa22daf0a791c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"zone":"test.recordstore.io","dnssec":false,"network_pools":["p06"],"serial":1583167321,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"disabled":false,"records":[{"domain":"one_of_these_should_remain.test.recordstore.io","short_answers":["10.10.10.42"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82411c9c79d0001a4666f"},{"domain":"test.recordstore.io","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5de823a6c94a90000105473d"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82421bbccf900012e9e94"},{"domain":"test_add_alias.test.recordstore.io","short_answers[...]
