---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_mx.test.recordstore.io/MX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '890'
      Etag:
      - W/"bf16f55c3b426bd783dbfe6f1ebbc7642f68deb7"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_mx.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[10,"mxa.mailgun.org."],"id":"5dc4829b403d5d00013bd619"},{"answer":[10,"mxa.mailgun.org."],"id":"5dc49447c9c79d0001cd9a09"},{"answer":[10,"mxa.mailgun.org."],"id":"5dc49587bbccf90001d9e3aa"}],"id":"5dc4829b403d5d00013bd61a","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"MX","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:17 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '891'
      Etag:
      - W/"369291609b3c21106af11273a1e3a8cfedcc883d"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"dnssec":false,"zone":"test.recordstore.io","network_pools":["p03"],"serial":1573164738,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p03.nsone.net","dns2.p03.nsone.net","dns3.p03.nsone.net","dns4.p03.nsone.net"],"records":[{"domain":"one_of_these_should_remain.test.recordstore.io","short_answers":["10.10.10.42","10.10.10.42","10.10.10.42"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5dc4828cbbccf90001dc7e37"},{"domain":"test.recordstore.io","short_answers":["dns1.p03.nsone.net","dns2.p03.nsone.net","dns3.p03.nsone.net","dns4.p03.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5dc48265bbccf90001dc7e0f"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1","10.10.10.1","10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5dc48297c9c79d00010d83d4"},{"domai[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/one_of_these_should_remain.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '891'
      Etag:
      - W/"9c2dfea85ad318ca8c0917408d2498ceffe0f0f8"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"one_of_these_should_remain.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc4828cbbccf90001dc7e36"},{"answer":["10.10.10.42"],"id":"5dc4940fc9c79d00018bffac"},{"answer":["10.10.10.42"],"id":"5dc49556c94a9000012363de"}],"id":"5dc4828cbbccf90001dc7e37","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:18 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '890'
      Etag:
      - W/"9f0991bafeb8bd09af60595c8de1d53ebdfd3e13"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":false,"answers":[{"answer":["dns1.p03.nsone.net"],"meta":{},"id":"5dc48265bbccf90001dc7e0b"},{"answer":["dns2.p03.nsone.net"],"meta":{},"id":"5dc48265bbccf90001dc7e0c"},{"answer":["dns3.p03.nsone.net"],"meta":{},"id":"5dc48265bbccf90001dc7e0d"},{"answer":["dns4.p03.nsone.net"],"meta":{},"id":"5dc48265bbccf90001dc7e0e"}],"id":"5dc48265bbccf90001dc7e0f","regions":{},"meta":{},"filters":[],"ttl":3600,"tier":1,"feeds":[],"type":"NS","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:18 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_a.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '889'
      Etag:
      - W/"a1075f4d505fb001ee5c834a44079f35d25c3490"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_a.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5dc48297c9c79d00010d83d3"},{"answer":["10.10.10.1"],"id":"5dc4941a403d5d0001b125d1"},{"answer":["10.10.10.1"],"id":"5dc49563bbccf90001d9e369"}],"id":"5dc48297c9c79d00010d83d4","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:18 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/ALIAS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '889'
      Etag:
      - W/"225ee51122b83401615969916c1756d18d693de7"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1."],"id":"5dc48299c94a900001a73d31"},{"answer":["10.10.10.1."],"id":"5dc49421f2abd00001ed2698"},{"answer":["10.10.10.1."],"id":"5dc4959bbbccf900011695ef"}],"id":"5dc48299c94a900001a73d32","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"ALIAS","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:19 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '888'
      Etag:
      - W/"362ba00dcf3901600700a4fb874049decdd0de7c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc482bcf2abd00001b2c9fe"},{"answer":["test.recordstore.io."],"id":"5dc4940af2abd000014d57e1"},{"answer":["test.recordstore.io."],"id":"5dc4959ebbccf900019825ed"}],"id":"5dc482bcf2abd00001b2c9ff","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CNAME","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:19 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_caa.test.recordstore.io/CAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '888'
      Etag:
      - W/"fa1442b02038c8f3181a61c70dc7a0390bebdf3d"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_caa.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[0,"issue","shopify.com"],"id":"5dc482b6bbccf90001de8110"},{"answer":[0,"issue","shopify.com"],"id":"5dc49483f2abd00001433de7"},{"answer":[0,"issue","shopify.com"],"id":"5dc4958bf2abd00001433f32"}],"id":"5dc482b6bbccf90001de8111","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CAA","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:19 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '887'
      Etag:
      - W/"8861061cec3ad298f90629cb82bde9bd59f8cba7"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc4829dbbccf90001f272c4"},{"answer":["10.10.10.42"],"id":"5dc49466c94a9000012362c8"},{"answer":["10.10.10.42"],"id":"5dc49571f2abd00001902048"}],"id":"5dc4829dbbccf90001f272c5","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:19 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_multiple_changesets.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '887'
      Etag:
      - W/"df60531e64a4d828e15ad3d61bfbcf0abb416532"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_multiple_changesets.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc482bec94a900001e390eb"},{"answer":["10.10.10.43"],"id":"5dc482bebbccf90001dc7e6c"},{"answer":["10.10.10.42"],"id":"5dc49473f2abd00001433dcf"},{"answer":["10.10.10.43"],"id":"5dc49474bbccf90001d79e60"},{"answer":["10.10.10.42"],"id":"5dc495b0f2abd000019020a1"},{"answer":["10.10.10.43"],"id":"5dc495b2403d5d0001dcffd8"}],"id":"5dc482bec94a900001e390ec","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:19 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_ns.test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '886'
      Etag:
      - W/"7f40c0a4e8a9a0ea3f8a6cb8ab2b7831ea089c7f"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_ns.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc482adf2abd00001e2d5aa"},{"answer":["test.recordstore.io."],"id":"5dc4946dc94a900001bd96e3"},{"answer":["test.recordstore.io."],"id":"5dc4956ec9c79d0001cd9b45"}],"id":"5dc482adf2abd00001e2d5ab","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"NS","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SPF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '885'
      Etag:
      - W/"cda9d1ac4853d1a636a335664f016627a2bd1540"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5dc482b9c9c79d000123e722"},{"answer":["Hello World!"],"id":"5dc4945b403d5d0001ae48a0"},{"answer":["Hello
        World!"],"id":"5dc49593c94a9000015ce27b"}],"id":"5dc482b9c9c79d000123e723","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SPF","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SRV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '885'
      Etag:
      - W/"ba2493dbc13b297d5605f9e4567af5fa7a0af85d"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[1,2,3,"spf.shopify.com."],"id":"5dc4829df2abd00001e2d592"},{"answer":[1,2,3,"spf.shopify.com."],"id":"5dc49468bbccf90001d79e4b"},{"answer":[1,2,3,"spf.shopify.com."],"id":"5dc49583c94a900001bd982f"},{"answer":[1,2,3,"spf.shopify.com."],"id":"5dc496bec9c79d000105609f"}],"id":"5dc4829df2abd00001e2d593","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SRV","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_txt.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '884'
      Etag:
      - W/"d4e1a7655837f46bdd716ca64763a10b8cab4d16"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_txt.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5dc482b0403d5d00019daf41"},{"answer":["Hello World!"],"id":"5dc49456c9c79d0001d59073"},{"answer":["Hello
        World!"],"id":"5dc49597c9c79d0001d591e3"}],"id":"5dc482b0403d5d00019daf42","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '884'
      Etag:
      - W/"65eaf9cf3b9dc1d43fadbd5615b1df9bc0ec0286"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.49"],"id":"5dc48293f2abd00001527c23"},{"answer":["10.10.10.49"],"id":"5dc49476f2abd00001901f1e"},{"answer":["10.10.10.49"],"id":"5dc495a3c94a900001236458"}],"id":"5dc48293f2abd00001527c24","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_multiples.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '883'
      Etag:
      - W/"3717f08842e03758500275a781bf6b1c42c35078"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_multiples.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.50"],"id":"5dc482a2c94a900001e390ab"},{"answer":["10.10.10.48"],"id":"5dc482a2403d5d00013bd623"},{"answer":["10.10.10.49"],"id":"5dc482a2403d5d0001c2610d"},{"answer":["10.10.10.48"],"id":"5dc49428c9c79d0001c8eb00"},{"answer":["10.10.10.49"],"id":"5dc49429403d5d0001b125ea"},{"answer":["10.10.10.48"],"id":"5dc49573f2abd000014d5982"},{"answer":["10.10.10.49"],"id":"5dc49575c94a900001236401"}],"id":"5dc482a2c94a900001e390ac","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_updating_ttl.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '883'
      Etag:
      - W/"e145a9d92112b5b7a5d907d53a8bd4cbbec04593"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_updating_ttl.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5dc48290403d5d0001c260fa"},{"answer":["10.10.10.1"],"id":"5dc4943d403d5d0001ae4862"},{"answer":["10.10.10.1"],"id":"5dc495b5c9c79d0001c8ece9"}],"id":"5dc48290403d5d0001c260fb","regions":{},"meta":{},"link":null,"filters":[],"ttl":10,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Thu, 07 Nov 2019 22:12:20 GMT
recorded_with: VCR 5.0.0
