---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_new_records_have_edns_client_subnet_disabled.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Fri, 20 Mar 2020 19:15:50 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_new_records_have_edns_client_subnet_disabled.test.recordstore.io/TXT
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["Some answer"]}],"ttl":3600,"zone":"test.recordstore.io","domain":"test_new_records_have_edns_client_subnet_disabled.test.recordstore.io","type":"TXT","use_client_subnet":false}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_new_records_have_edns_client_subnet_disabled.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":false,"answers":[{"answer":["Some
        answer"],"id":"5e751667373b4000953edcde"}],"id":"5e751667373b4000953edcdf","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Fri, 20 Mar 2020 19:15:51 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3339f4a83b0eb8a3e2a9d6eb198403c14dfc157"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"zone":"test.recordstore.io","dnssec":false,"network_pools":["p06"],"serial":1584731751,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"disabled":false,"records":[{"domain":"one_of_these_should_remain.test.recordstore.io","short_answers":["10.10.10.42"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82411c9c79d0001a4666f"},{"domain":"test.recordstore.io","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"link":null,"ttl":3600,"tier":1,"type":"NS","id":"5de823a6c94a90000105473d"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82421bbccf900012e9e94"},{"domain":"test_add_alias.test.recordstore.io","s[...]
