---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test_add_changset_missing_zone.recordstore.io/test_add_changset_missing_zone.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '893'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"\"test_add_changset_missing_zone.test.recordstore.io\"
        not a valid domain in test_add_changset_missing_zone.recordstore.io"}

        '
  recorded_at: Mon, 11 Nov 2019 18:00:25 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test_add_changset_missing_zone.recordstore.io/test_add_changset_missing_zone.test.recordstore.io/A
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["10.10.10.42"]}],"ttl":600,"zone":"test_add_changset_missing_zone.recordstore.io","domain":"test_add_changset_missing_zone.test.recordstore.io","type":"A"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: UTF-8
      string: '{"message":"\"test_add_changset_missing_zone.test.recordstore.io\"
        not a valid domain in test_add_changset_missing_zone.recordstore.io"}

        '
  recorded_at: Mon, 11 Nov 2019 18:00:25 GMT
recorded_with: VCR 5.0.0
