---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_escaped_colons_maintained_when_exported.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Thu, 05 Dec 2019 19:48:32 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_escaped_colons_maintained_when_exported.test.recordstore.io/TXT
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["v=DKIM; k=rsa;"]}],"ttl":60,"zone":"test.recordstore.io","domain":"test_escaped_colons_maintained_when_exported.test.recordstore.io","type":"TXT"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_escaped_colons_maintained_when_exported.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["v=DKIM;
        k=rsa;"],"id":"5de95f11f2abd00001c9dbc9"}],"id":"5de95f11f2abd00001c9dbca","regions":{},"meta":{},"link":null,"filters":[],"ttl":60,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Thu, 05 Dec 2019 19:48:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      Etag:
      - W/"5ba21adde3a358439bf8c75c7f3e3c96a2c29301"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"zone":"test.recordstore.io","dnssec":false,"network_pools":["p04"],"serial":1575575313,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"disabled":false,"records":[{"domain":"one_of_these_should_remain.test.recordstore.io","short_answers":["10.10.10.42"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82411c9c79d0001a4666f"},{"domain":"test.recordstore.io","short_answers":["dns1.p04.nsone.net","dns2.p04.nsone.net","dns3.p04.nsone.net","dns4.p04.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5de823a6c94a90000105473d"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5de82421bbccf900012e9e94"},{"domain":"test_add_alias.test.recordstore.io","short_answers[...]
