---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '884'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:29 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["10.10.10.48"]}],"ttl":600,"zone":"test.recordstore.io","domain":"test_update_changeset.test.recordstore.io","type":"A"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.48"],"id":"5dc6f779f2abd0000166a9ca"}],"id":"5dc6f779f2abd0000166a9cb","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:29 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '884'
      Etag:
      - W/"166347bfc843df4ddadffd3a644f17d713f08996"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"dnssec":false,"zone":"test.recordstore.io","network_pools":["p07"],"serial":1573320569,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p07.nsone.net","dns2.p07.nsone.net","dns3.p07.nsone.net","dns4.p07.nsone.net"],"records":[{"domain":"test.recordstore.io","short_answers":["dns1.p07.nsone.net","dns2.p07.nsone.net","dns3.p07.nsone.net","dns4.p07.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5dc6f750bbccf90001839ffc"},{"domain":"test_add_alias.test.recordstore.io","short_answers":["test.recordstore.io."],"link":null,"ttl":600,"tier":1,"type":"CNAME","id":"5dc6f776403d5d00012afa73"},{"domain":"test_add_caa.test.recordstore.io","short_answers":["0
        issue shopify.com"],"link":null,"ttl":600,"tier":1,"type":"CAA","id":"5dc6f767f2abd00001a174b7"},{"domain":"t[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '884'
      Etag:
      - W/"9c28146f12950d86c9668b468ee59f6c2e06c1c9"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":false,"answers":[{"answer":["dns1.p07.nsone.net"],"meta":{},"id":"5dc6f750bbccf90001839ff8"},{"answer":["dns2.p07.nsone.net"],"meta":{},"id":"5dc6f750bbccf90001839ff9"},{"answer":["dns3.p07.nsone.net"],"meta":{},"id":"5dc6f750bbccf90001839ffa"},{"answer":["dns4.p07.nsone.net"],"meta":{},"id":"5dc6f750bbccf90001839ffb"}],"id":"5dc6f750bbccf90001839ffc","regions":{},"meta":{},"filters":[],"ttl":3600,"tier":1,"feeds":[],"type":"NS","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:29 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '883'
      Etag:
      - W/"f26f376f1fc00c8db664cf6d392bb440d0dd4d43"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc6f776403d5d00012afa72"}],"id":"5dc6f776403d5d00012afa73","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CNAME","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:29 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_caa.test.recordstore.io/CAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '883'
      Etag:
      - W/"a9af17e69fb3db1b25b8c909b46abc90c9ac165a"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_caa.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[0,"issue","shopify.com"],"id":"5dc6f767f2abd00001a174b6"}],"id":"5dc6f767f2abd00001a174b7","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CAA","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '882'
      Etag:
      - W/"d58095143eee5bbc913e0764206f75cb23c811c2"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc6f76dc9c79d0001a62e58"}],"id":"5dc6f76dc9c79d0001a62e59","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_multiple_changesets.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '882'
      Etag:
      - W/"aeb4a2266d55e75b7299e2b596ad7dec7232547f"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_multiple_changesets.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc6f775c94a900001011184"},{"answer":["10.10.10.43"],"id":"5dc6f776c94a9000018788ae"}],"id":"5dc6f775c94a900001011185","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_mx.test.recordstore.io/MX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '881'
      Etag:
      - W/"42d95985d0d4bb057379b182f1c2c492571d6468"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_mx.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[10,"mxa.mailgun.org."],"id":"5dc6f76ef2abd00001ee0b87"}],"id":"5dc6f76ef2abd00001ee0b88","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"MX","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_ns.test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '881'
      Etag:
      - W/"cedc5a5b082ec45885658f7c20783a925e1ab40c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_ns.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc6f76fc9c79d00012f2ef3"}],"id":"5dc6f76fc9c79d00012f2ef4","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"NS","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_txt.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '880'
      Etag:
      - W/"ffa328cbcfd84b6e43f1d98baa03edd27622ed88"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_txt.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5dc6f773f2abd00001ee0b8c"}],"id":"5dc6f773f2abd00001ee0b8d","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:30 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_multiples.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '879'
      Etag:
      - W/"8bb7d50d9fc9aaa8e83ef341071d01ff3db13373"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_multiples.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.50"],"id":"5dc6f761bbccf900018eadd8"},{"answer":["10.10.10.48"],"id":"5dc6f762bbccf90001385034"},{"answer":["10.10.10.49"],"id":"5dc6f763403d5d0001ae6350"}],"id":"5dc6f761bbccf900018eadd9","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:31 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_multiples.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '868'
      Etag:
      - W/"8bb7d50d9fc9aaa8e83ef341071d01ff3db13373"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_multiples.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.50"],"id":"5dc6f761bbccf900018eadd8"},{"answer":["10.10.10.48"],"id":"5dc6f762bbccf90001385034"},{"answer":["10.10.10.49"],"id":"5dc6f763403d5d0001ae6350"}],"id":"5dc6f761bbccf900018eadd9","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Sat, 09 Nov 2019 17:29:35 GMT
recorded_with: VCR 5.0.0
