---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '889'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:23 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["10.10.10.48"]}],"ttl":600,"zone":"test.recordstore.io","domain":"test_update_changeset.test.recordstore.io","type":"A"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.48"],"id":"5dc9a1f3f2abd00001a04de1"}],"id":"5dc9a1f3f2abd00001a04de2","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:24 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '897'
      Etag:
      - W/"7577730146efb7cd7c3fcf7da4bc0d4e3ead282d"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"dnssec":false,"zone":"test.recordstore.io","network_pools":["p04"],"serial":1573495283,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p04.nsone.net","dns2.p04.nsone.net","dns3.p04.nsone.net","dns4.p04.nsone.net"],"records":[{"domain":"test.recordstore.io","short_answers":["dns1.p04.nsone.net","dns2.p04.nsone.net","dns3.p04.nsone.net","dns4.p04.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5dc9a15cc9c79d0001326a47"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5dc9a1c2c9c79d00010da5ae"},{"domain":"test_add_alias.test.recordstore.io","short_answers":["10.10.10.1."],"link":null,"ttl":600,"tier":1,"type":"ALIAS","id":"5dc9a1d0bbccf9000186d1b1"},{"domain":"test_add_alias.test.recordstore[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '897'
      Etag:
      - W/"2b57562c6d711d98ea8806432d7550b6cb6c3e1c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":false,"answers":[{"answer":["dns1.p04.nsone.net"],"meta":{},"id":"5dc9a15cc9c79d0001326a43"},{"answer":["dns2.p04.nsone.net"],"meta":{},"id":"5dc9a15cc9c79d0001326a44"},{"answer":["dns3.p04.nsone.net"],"meta":{},"id":"5dc9a15cc9c79d0001326a45"},{"answer":["dns4.p04.nsone.net"],"meta":{},"id":"5dc9a15cc9c79d0001326a46"}],"id":"5dc9a15cc9c79d0001326a47","regions":{},"meta":{},"filters":[],"ttl":3600,"tier":1,"feeds":[],"type":"NS","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:26 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_a.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '896'
      Etag:
      - W/"64806d563d0dc25bc05750a54e3079dc1442beb1"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_a.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5dc9a1c2c9c79d00010da5ad"}],"id":"5dc9a1c2c9c79d00010da5ae","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:26 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/ALIAS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '896'
      Etag:
      - W/"d2c0e9868d885c32f8830a1a2d2e42596583031e"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1."],"id":"5dc9a1d0bbccf9000186d1b0"}],"id":"5dc9a1d0bbccf9000186d1b1","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"ALIAS","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:27 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '896'
      Etag:
      - W/"3d78ed7743e0abfbea376f2ec454535d4e8c46b4"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc9a1d6bbccf9000150da4c"}],"id":"5dc9a1d6bbccf9000150da4d","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CNAME","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:27 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_caa.test.recordstore.io/CAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '895'
      Etag:
      - W/"ad6007c84d279d6ab707ebeebfff3b3ba27a91d7"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_caa.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[0,"issue","shopify.com"],"id":"5dc9a1eac94a9000011b3c7a"}],"id":"5dc9a1eac94a9000011b3c7b","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CAA","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:27 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '895'
      Etag:
      - W/"c9f0990401ecbefe8a6690d90e743f4d41a8d8f6"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc9a1a4c94a9000011b3c22"}],"id":"5dc9a1a4c94a9000011b3c23","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:27 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_multiple_changesets.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '894'
      Etag:
      - W/"be0fffa7bd7fba04eed217992bf534868d46792c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_multiple_changesets.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5dc9a19cc9c79d0001326ac1"},{"answer":["10.10.10.43"],"id":"5dc9a19fc9c79d000145db5b"}],"id":"5dc9a19cc9c79d0001326ac2","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:27 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_mx.test.recordstore.io/MX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '894'
      Etag:
      - W/"ed1a83ec21d4db96844e06f6bb9e5658db7278b9"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_mx.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[10,"mxa.mailgun.org."],"id":"5dc9a1e5c94a9000014f6db4"}],"id":"5dc9a1e5c94a9000014f6db5","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"MX","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:28 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_ns.test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '893'
      Etag:
      - W/"3be13f8b06c6fa6aea695193cd921834fda91651"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_ns.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5dc9a1b5bbccf900013b8bbb"}],"id":"5dc9a1b5bbccf900013b8bbc","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"NS","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:28 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SPF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '893'
      Etag:
      - W/"b0c29cdb5c27b5ab209a3990eb1b2e5e9dcfc8fd"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5dc9a1a1403d5d0001f40218"}],"id":"5dc9a1a1403d5d0001f40219","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SPF","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:28 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SRV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '892'
      Etag:
      - W/"bad0937198fce73ecb8c9464102fe59629f5cad7"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[1,2,3,"spf.shopify.com."],"id":"5dc9a1efbbccf9000186d1dc"}],"id":"5dc9a1efbbccf9000186d1dd","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SRV","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:28 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_txt.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '892'
      Etag:
      - W/"02b2274124c8fe82c7e5a24db087dbc46ce33fbd"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_txt.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5dc9a1ccc9c79d0001a966d0"}],"id":"5dc9a1ccc9c79d0001a966d1","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:28 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_multiples.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '891'
      Etag:
      - W/"299ea05b4360b069b76850f4e2b96a0b5a8ff3d3"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_multiples.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.50"],"id":"5dc9a1a7403d5d0001fa4f50"},{"answer":["10.10.10.48"],"id":"5dc9a1a9c94a9000011b3c29"},{"answer":["10.10.10.49"],"id":"5dc9a1abc94a900001044acf"}],"id":"5dc9a1a7403d5d0001fa4f51","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:29 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_updating_ttl.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '890'
      Etag:
      - W/"9e34939eb9090ca4bfa392e97edc44c9b26928a9"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_updating_ttl.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5dc9a1dcf2abd00001a4abd4"}],"id":"5dc9a1dcf2abd00001a4abd5","regions":{},"meta":{},"link":null,"filters":[],"ttl":10,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:29 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_updating_ttl.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '877'
      Etag:
      - W/"9e34939eb9090ca4bfa392e97edc44c9b26928a9"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_updating_ttl.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5dc9a1dcf2abd00001a4abd4"}],"id":"5dc9a1dcf2abd00001a4abd5","regions":{},"meta":{},"link":null,"filters":[],"ttl":10,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Mon, 11 Nov 2019 18:01:35 GMT
recorded_with: VCR 5.0.0
