---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_where_domain_doesnt_exist.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:30 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_where_domain_doesnt_exist.test.recordstore.io/A
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["10.10.10.48"]}],"ttl":600,"zone":"test.recordstore.io","domain":"test_update_changeset_where_domain_doesnt_exist.test.recordstore.io","type":"A"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_where_domain_doesnt_exist.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.48"],"id":"5d8e6ad6c94a900001f521dc"}],"id":"5d8e6ad6c94a900001f521dd","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:30 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '899'
      Etag:
      - W/"5a1772fc717f522401eba0a49174bd6e2d371b75"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"dnssec":false,"zone":"test.recordstore.io","network_pools":["p06"],"serial":1569614550,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"records":[{"domain":"one_of_these_should_remain.test.recordstore.io","short_answers":["10.10.10.42"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5d8e6488bbccf90001d23dad"},{"domain":"test.recordstore.io","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5d8e645ebbccf900017fc8d7"},{"domain":"test_add_a.test.recordstore.io","short_answers":["10.10.10.1"],"link":null,"ttl":600,"tier":1,"type":"A","id":"5d8e6472c94a9000015aa02d"},{"domain":"test_add_alias.test.recordstore.io","short_answers[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/one_of_these_should_remain.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '898'
      Etag:
      - W/"b8c42efb06e6ac49eb1411305a9dfa157f7f7c5e"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"one_of_these_should_remain.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5d8e6488bbccf90001d23dac"}],"id":"5d8e6488bbccf90001d23dad","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:31 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '898'
      Etag:
      - W/"24ea05f6e837ad6ab64a20c47c293d89092f831b"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":false,"answers":[{"answer":["dns1.p06.nsone.net"],"meta":{},"id":"5d8e645ebbccf900017fc8d3"},{"answer":["dns2.p06.nsone.net"],"meta":{},"id":"5d8e645ebbccf900017fc8d4"},{"answer":["dns3.p06.nsone.net"],"meta":{},"id":"5d8e645ebbccf900017fc8d5"},{"answer":["dns4.p06.nsone.net"],"meta":{},"id":"5d8e645ebbccf900017fc8d6"}],"id":"5d8e645ebbccf900017fc8d7","regions":{},"meta":{},"filters":[],"ttl":3600,"tier":1,"feeds":[],"type":"NS","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:31 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_a.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '897'
      Etag:
      - W/"1128012514642c0e4c10237699d1cf1e6674c81e"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_a.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1"],"id":"5d8e6472c94a9000015aa02c"}],"id":"5d8e6472c94a9000015aa02d","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:31 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/ALIAS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '897'
      Etag:
      - W/"95a3c5df8c7662488967826e11f086c768875fa6"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.1."],"id":"5d8e646b403d5d0001f2ddb2"}],"id":"5d8e646b403d5d0001f2ddb3","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"ALIAS","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:31 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_alias.test.recordstore.io/CNAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '896'
      Etag:
      - W/"562b472f1c91a881d63b8cc029408528ca1f9881"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_alias.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5d8e646fc94a90000193a28e"}],"id":"5d8e646fc94a90000193a28f","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CNAME","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:31 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_caa.test.recordstore.io/CAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '895'
      Etag:
      - W/"deeb624200ef8d0f91168c5ef17569b6311b1147"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_caa.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[0,"issue","shopify.com"],"id":"5d8e6490403d5d0001779817"}],"id":"5d8e6490403d5d0001779818","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"CAA","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '895'
      Etag:
      - W/"9ebaec7437a110d0b448aad78007e1b0fd670947"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5d8e6469f2abd00001fbac8a"}],"id":"5d8e6469f2abd00001fbac8b","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_multiple_changesets.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '894'
      Etag:
      - W/"2e566816fcff075c6f471e6c9398b9c23cc49601"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_multiple_changesets.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.42"],"id":"5d8e646af2abd00001cbd879"},{"answer":["10.10.10.43"],"id":"5d8e646ac9c79d0001dfa36e"}],"id":"5d8e646af2abd00001cbd87a","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_mx.test.recordstore.io/MX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '894'
      Etag:
      - W/"2de58e4ae1143e75181c7cbc231f81f2f770137d"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_mx.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[10,"mxa.mailgun.org."],"id":"5d8e6468f2abd00001be2428"}],"id":"5d8e6468f2abd00001be2429","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"MX","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_ns.test.recordstore.io/NS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '893'
      Etag:
      - W/"d443b9e616ec660900420de4a42c7b25657dbc88"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_ns.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["test.recordstore.io."],"id":"5d8e6467f2abd0000195e863"}],"id":"5d8e6467f2abd0000195e864","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"NS","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SPF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '893'
      Etag:
      - W/"6077e97e723d1cda982661c137a85d27c4a7df94"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5d8e646ebbccf90001226c58"}],"id":"5d8e646ebbccf90001226c59","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SPF","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:32 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_spf.test.recordstore.io/SRV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '892'
      Etag:
      - W/"b8fb5277d187d19c3c5b3633e67659a8076998c6"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_spf.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":[1,2,3,"spf.shopify.com."],"id":"5d8e6483403d5d0001ca4778"}],"id":"5d8e6483403d5d0001ca4779","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"SRV","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:33 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_add_txt.test.recordstore.io/TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '892'
      Etag:
      - W/"2bc3543ea046bd95194f04464ce5d34acdbca01e"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_add_txt.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["Hello
        World!"],"id":"5d8e6486403d5d0001273611"}],"id":"5d8e6486403d5d0001273612","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"TXT","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:33 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '891'
      Etag:
      - W/"b78f849eac84522e0804ae962e50926c89669d58"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.49"],"id":"5d8e6474bbccf90001d23d8a"}],"id":"5d8e6474bbccf90001d23d8b","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:33 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_multiples.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '891'
      Etag:
      - W/"3ba6c3d8d3c13a82b5b42e7b9aebf685a552ea5c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"test_update_changeset_multiples.test.recordstore.io","zone":"test.recordstore.io","use_client_subnet":true,"answers":[{"answer":["10.10.10.50"],"id":"5d8e6479f2abd00001cbd891"},{"answer":["10.10.10.48"],"id":"5d8e6479bbccf90001fb9bee"},{"answer":["10.10.10.49"],"id":"5d8e647ac94a90000193a2a4"}],"id":"5d8e6479f2abd00001cbd892","regions":{},"meta":{},"link":null,"filters":[],"ttl":600,"tier":1,"type":"A","networks":[0]}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:33 GMT
[...]
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/test_update_changeset_where_domain_doesnt_exist.test.recordstore.io/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '889'
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Fri, 27 Sep 2019 20:02:34 GMT
recorded_with: VCR 4.0.0
