---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '888'
      Etag:
      - W/"f9465a1545b8740fb4490490bfa9a823f7d729d4"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
    body:
      encoding: ASCII-8BIT
      string: '[{"nx_ttl":3600,"retry":7200,"dnssec":false,"zone":"dev.recordstore.io","network_pools":["p07"],"serial":1569855698,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p07.nsone.net","dns2.p07.nsone.net","dns3.p07.nsone.net","dns4.p07.nsone.net"],"meta":{},"link":null,"primary_master":"dns1.p07.nsone.net","ttl":3600,"id":"5d921649bbccf90001ff95ee","hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p07"},{"nx_ttl":60,"retry":7200,"dnssec":false,"zone":"ns1.shopify.io","network_pools":["p03"],"serial":1570482853,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p03.nsone.net","dns2.p03.nsone.net","dns3.p03.nsone.net","dns4.p03.nsone.net"],"meta":{},"link":null,"primary_master":"dns1.p03.nsone.net","ttl":60,"id":"5d715e23c94a900001192d45","hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p03"},{"nx_ttl":3600,"retry":7200,"dnssec":fal[...]
