---
http_interactions:
- request:
    method: patch
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test_remove_first_from_two_a_records_changeset.test.recordstore.io.","rdata":"60.60.60.66","rtype":"A","ttl":600,"operation":"ADD"}]}'
    headers:
      Content-Type:
      - application/json
      X-Content-Sha256:
      - o7ad4onhmEFuaIQbenXkul7OPvh3KCU12UuhIe2dcwc=
      Authorization:
      - Signature headers="date (request-target) host content-length content-type
        x-content-sha256",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",algorithm="rsa-sha256",signature="f104dbMSr9RgjXSikGI8+NN9M7GT39GrPmUwdtHK9G28x/gUk46JDIh16jYXpzn7PNu7sJ/BFlDNdxhyFc5W/WCGse3SYTPO2Fzb4uNhIGKQ1GbuHCzk/n2pZAN9nE7jlddE3fIubjlpUSZZSy6MHBbTZEh8Hg6jeL3X40fRkIsEWQ5q2BrcDRBa/+DjJ9F+4hlM3i3/6bUz0liSyS9rmUYsWv5SWDcSM+rNHNgK0EYkk2SS1U6XzZMlBBi+nQJp4lOwK57CbeRCcNCQ2G4d7UB3xgGQJfHtZgXfloVBvboka5HKdZPlRfN4KyYHs/92gHLRMs/PX6r0Knr/f8dmrA==",version="1"
      Opc-Client-Info:
      - Oracle-RubySDK/2.6.0
      Opc-Request-Id:
      - BF3B0C11D5E749D88FF5965662C5DDD5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Opc-Request-Id:
      - BF3B0C11D5E749D88FF5965662C5DDD5/E466C4787DEB4215A4057E10F7A5BBC3/427D4A807ACE456F8EE7B34C6F6124DC
      Etag:
      - '"802ocid1.dns-zone.oc1..ebe870ae24e5440ca314fba2383551cf#application/json"'
      Opc-Total-Items:
      - '6'
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test.recordstore.io","recordHash":"310c67902c922a120f57be281f18cbbf","isProtected":true,"rdata":"ns4.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"3cd20f2c5f00d5d32490ed469d5bdfca","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.
        hostmaster.test.recordstore.io. 802 3600 600 604800 1800","rrsetVersion":"802","rtype":"SOA","ttl":300},{"domain":"test.recordstore.io","recordHash":"4c2fa92cd5f92000ca884da52cab98a3","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"9ad655bf964bdd3bab3bd00e8a85ca3a","isProtected":true,"rdata":"ns2.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"a233c1ceab46c9e4e04f82910297b6ed","isProtected":true,"rdata":"ns3.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test_remove_first_from_two_a_records_changeset.test.recordstore.io","recordHash":"46e96b7d358b52f39c1ac1454c644ae3","isProtected":false,"rdata":"60.60.60.66","rrsetVersion":"802","rtype":"A","ttl":600}]}

        '
  recorded_at: Sun, 20 Oct 2019 01:58:12 GMT
[...]
- request:
    method: get
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records?domain=test_remove_first_from_two_a_records_changeset.test.recordstore.io&rtype=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature headers="date (request-target) host",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",al[...]
[...]
