---
http_interactions:
- request:
    method: patch
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test_remove_changeset.test.recordstore.io.","rdata":"10.10.10.42","rtype":"A","ttl":600,"operation":"ADD"}]}'
    headers:
      Content-Type:
      - application/json
      X-Content-Sha256:
      - VM+qJgnTETScoh1PX71vaKh8/RCE+Cn4WKAUEqT1gbQ=
      Authorization:
      - Signature headers="date (request-target) host content-length content-type
        x-content-sha256",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",algorithm="rsa-sha256",signature="UCPEaRL37yKwfxGbxyhkOuzDEEyc+a+efOBP2qMQgjC/pVDSdnfe+22B9BpjpC1kv2g900K0bL1QroUSVKRl5vEf5XpN3s5VGd8HEr8VA7uiNsDW7Zdsax9jgRiwd14uGLgHufM5R8GtdcfFu1Vg0O+AKtEu7Voh3CcSNHiH2gIufVNvvAVDb02eInXOTXSzBBGdsLmcUO8bTpy23HICiIBp78P2+4FJOFYx7AY1RqQZZaFUf3LA9za0iG3rr4CHOlLWb/EkYhtA/t9MczpXBSDTMYaGd3XT3+L3VTvnbPvPMnBvjFO6mHMESj9raWIBGcZ0vrYBBQk4R0isvoTCjA==",version="1"
      Opc-Client-Info:
      - Oracle-RubySDK/2.6.0
      Opc-Request-Id:
      - 47834FB31DCE4C28A5836EC7E15A5B1F
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Opc-Request-Id:
      - 47834FB31DCE4C28A5836EC7E15A5B1F/DDEF172C4A3D47688E45B4CC6DA7A762/C470C81BD23C4D97942BF84450112009
      Etag:
      - '"800ocid1.dns-zone.oc1..ebe870ae24e5440ca314fba2383551cf#application/json"'
      Opc-Total-Items:
      - '6'
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test.recordstore.io","recordHash":"310c67902c922a120f57be281f18cbbf","isProtected":true,"rdata":"ns4.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"3cd20f2c5f00d5d32490ed469d5bdfca","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.
        hostmaster.test.recordstore.io. 800 3600 600 604800 1800","rrsetVersion":"800","rtype":"SOA","ttl":300},{"domain":"test.recordstore.io","recordHash":"4c2fa92cd5f92000ca884da52cab98a3","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"9ad655bf964bdd3bab3bd00e8a85ca3a","isProtected":true,"rdata":"ns2.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"a233c1ceab46c9e4e04f82910297b6ed","isProtected":true,"rdata":"ns3.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test_remove_changeset.test.recordstore.io","recordHash":"0d40010bb26fc0c8c7437ba92882718c","isProtected":false,"rdata":"10.10.10.42","rrsetVersion":"800","rtype":"A","ttl":600}]}

        '
  recorded_at: Sun, 20 Oct 2019 01:57:54 GMT
- request:
    method: get
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records?domain=test_remove_changeset.test.recordstore.io&rtype=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature headers="date (request-target) host",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",algorithm="rsa-sha256",sign[...]
[...]
