---
http_interactions:
- request:
    method: patch
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test_remove_first_from_two_txt_records_changeset.test.recordstore.io.","rdata":"\"text
        1\"","rtype":"TXT","ttl":600,"operation":"ADD"}]}'
    headers:
      Content-Type:
      - application/json
      X-Content-Sha256:
      - Skz/509JcUIdkkpwgvpctsv39TVxOINWVrmB3QaG+MY=
      Authorization:
      - Signature headers="date (request-target) host content-length content-type
        x-content-sha256",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",algorithm="rsa-sha256",signature="XqrtuBzN8U6j2yh704VrWxd07zCBcF7YVi4tm288ZOFp5Cz/kAbI8+FjJqV0+xSWhCsXzIPGBz5f8dSsS6um+zIiiCO24beHL0whSp31MCWbvRaqVJ4d4wVjSNQR4BLtokNMvyAcIqvDtQiC65kFf8cS8VHgXNPcIWzsviomkuMEwd6YEELKUPXX7e8NaQTNDjrb98+IrkVZhEc4N2jGPiKRrHvWtKJDUkoqeyuaL7jPFRloF4uDS69C95ghTp512OEkPsqqFcjLLnjtU4tTY1kQKIL6kdlkfjGM6OQzRde9/rWrxfPbXF6hNBB+1ynP3oOaV4qaiS+uN74xntJNJQ==",version="1"
      Opc-Client-Info:
      - Oracle-RubySDK/2.6.0
      Opc-Request-Id:
      - 8B6D4D6F11BE44B29C224AB9598ADD85
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Opc-Request-Id:
      - 8B6D4D6F11BE44B29C224AB9598ADD85/C242D64F744B4A52BF60530457001C70/17901EC1021B4BCBA9B68BB0A1250360
      Etag:
      - '"805ocid1.dns-zone.oc1..ebe870ae24e5440ca314fba2383551cf#application/json"'
      Opc-Total-Items:
      - '7'
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test.recordstore.io","recordHash":"310c67902c922a120f57be281f18cbbf","isProtected":true,"rdata":"ns4.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"3cd20f2c5f00d5d32490ed469d5bdfca","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.
        hostmaster.test.recordstore.io. 805 3600 600 604800 1800","rrsetVersion":"805","rtype":"SOA","ttl":300},{"domain":"test.recordstore.io","recordHash":"4c2fa92cd5f92000ca884da52cab98a3","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"9ad655bf964bdd3bab3bd00e8a85ca3a","isProtected":true,"rdata":"ns2.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"a233c1ceab46c9e4e04f82910297b6ed","isProtected":true,"rdata":"ns3.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test_remove_first_from_two_a_records_changeset.test.recordstore.io","recordHash":"0fcac14a69f25022df6b1ddc2ac9d307","isProtected":false,"rdata":"70.70.70.77","rrsetVersion":"804","rtype":"A","ttl":600},{"domain":"test_remove_first_from_two_txt_records_changeset.test.recordstore.io","recordHash":"e53130a013a4316db132900e3f39d229","isProtected":false,"rdata":"\"text
        1\"","rrsetVersion":"805","rtype":"TXT","ttl":600}]}

        '
  recorded_at: Sun, 20 Oct 2019 01:58:34 GMT
[...]
- request:
    method: get
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records?domain=test_remove_first_from_two_txt_records_changeset.test.recordstore.io&rtype=TXT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Signature headers="date (request-target) host",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>[...]
[...]
