---
http_interactions:
- request:
    method: patch
    uri: https://dns.<ORACLE_CLOUD_DNS_REGION>.oraclecloud.com/20180115/zones/test.recordstore.io/records
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test_updating_ttl.test.recordstore.io.","rdata":"10.10.10.1","rtype":"A","ttl":600,"operation":"ADD"}]}'
    headers:
      Content-Type:
      - application/json
      X-Content-Sha256:
      - "+Cckc3TvLJC5vvUj6TZqNsv4miScCbJH7SDWbFiRGOo="
      Authorization:
      - Signature headers="date (request-target) host content-length content-type
        x-content-sha256",keyId="<ORACLE_CLOUD_DNS_COMPARTMENT_ID>/<ORACLE_CLOUD_DNS_USER>/<ORACLE_CLOUD_DNS_FINGERPRINT>",algorithm="rsa-sha256",signature="yYiRsx/pHGh9LRsQy7i0+gAep10jZt/63HW0yzLMj2WGLfIUtq8NDQGe8ON5bT5sKzj4CRBqHQAVKI41QVisD79AJ4+Y1Ce+BMlDkhFNc0rVOyQsO0y414WSiLcYYzs5X0jgSA7TUfR61YWcaOpFviaQGtzNQFdpg4MHXdJHvA0FJAM1PrLDh0pKzISD24jBXslYwSvfTOkevFr/PUtCkzQUe48M1/W2UhiP1ChuL0PNmNqUWnkUD8yE/cdmO91RKBjKe/JCABydfSvf94Frwp/ctaNIDlli/nPC+C1JtoEW0IlRlgiyN/wzb2H845NvlFnyvHtUpLvKXMMYvXR/4A==",version="1"
      Opc-Client-Info:
      - Oracle-RubySDK/2.6.0
      Opc-Request-Id:
      - 90099193519044F3A6A123C5450425EE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Opc-Request-Id:
      - 90099193519044F3A6A123C5450425EE/8189B3FAAE084D03A150064779F9BB7D/8377DDB6D800434585F45296CDD4372C
      Etag:
      - '"808ocid1.dns-zone.oc1..ebe870ae24e5440ca314fba2383551cf#application/json"'
      Opc-Total-Items:
      - '8'
    body:
      encoding: UTF-8
      string: '{"items":[{"domain":"test.recordstore.io","recordHash":"310c67902c922a120f57be281f18cbbf","isProtected":true,"rdata":"ns4.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"3cd20f2c5f00d5d32490ed469d5bdfca","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.
        hostmaster.test.recordstore.io. 808 3600 600 604800 1800","rrsetVersion":"808","rtype":"SOA","ttl":300},{"domain":"test.recordstore.io","recordHash":"4c2fa92cd5f92000ca884da52cab98a3","isProtected":true,"rdata":"ns1.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"9ad655bf964bdd3bab3bd00e8a85ca3a","isProtected":true,"rdata":"ns2.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test.recordstore.io","recordHash":"a233c1ceab46c9e4e04f82910297b6ed","isProtected":true,"rdata":"ns3.p68.dns.oraclecloud.net.","rrsetVersion":"1","rtype":"NS","ttl":86400},{"domain":"test_remove_first_from_two_a_records_changeset.test.recordstore.io","recordHash":"0fcac14a69f25022df6b1ddc2ac9d307","isProtected":false,"rdata":"70.70.70.77","rrsetVersion":"804","rtype":"A","ttl":600},{"domain":"test_remove_first_from_two_txt_records_changeset.test.recordstore.io","recordHash":"a6b3277747045ccf882fb9fe11dbcba9","isProtected":false,"rdata":"\"text
        2\"","rrsetVersion":"807","rtype":"TXT","ttl":600},{"domain":"test_updating_ttl.test.recordstore.io","recordHash":"ae82fff78779e17e72661843adb69470","isProtected":false,"rdata":"10.10.10.1","rrsetVersion":"808","rtype":"A","ttl":600}]}

        '
  recorded_at: Sun, 20 Oct 2019 01:59:21 GMT
[...]
