---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/_sshfp1.test.recordstore.io/SSHFP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: '{"message":"\"SSHFP\" not a manageable record type"}

        '
  recorded_at: Tue, 31 Mar 2020 22:30:48 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/test.recordstore.io/_sshfp1.test.recordstore.io/SSHFP
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["4 2 4e0ebbeac8d2e4e73af888b20e2243e5a2a08bad6476c832c985e54b21eff4a3"]}],"ttl":3600,"use_client_subnet":false,"zone":"test.recordstore.io","domain":"_sshfp1.test.recordstore.io","type":"SSHFP"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"message":"\"SSHFP\" not a manageable record type"}

        '
  recorded_at: Tue, 31 Mar 2020 22:30:48 GMT
recorded_with: VCR 5.1.0
