---
http_interactions:
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/4.3.2.1.in-addr.arpa/4.3.2.1.in-addr.arpa/PTR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: UTF-8
      string: '{"message":"record not found"}

        '
  recorded_at: Thu, 16 Apr 2020 00:00:40 GMT
- request:
    method: put
    uri: https://api.nsone.net/v1/zones/4.3.2.1.in-addr.arpa/4.3.2.1.in-addr.arpa/PTR
    body:
      encoding: UTF-8
      string: '{"answers":[{"answer":["example.com."]}],"ttl":60,"use_client_subnet":false,"zone":"4.3.2.1.in-addr.arpa","domain":"4.3.2.1.in-addr.arpa","type":"PTR"}'
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Period:
      - '200'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"4.3.2.1.in-addr.arpa","zone":"4.3.2.1.in-addr.arpa","use_client_subnet":false,"answers":[{"answer":["example.com."],"id":"5e97a028bbc7d1009b8fc5ad"}],"id":"5e97a028bbc7d1009b8fc5ae","regions":{},"meta":{},"link":null,"filters":[],"ttl":60,"tier":1,"type":"PTR","networks":[0]}

        '
  recorded_at: Thu, 16 Apr 2020 00:00:40 GMT
- request:
    method: get
    uri: https://api.nsone.net/v1/zones/4.3.2.1.in-addr.arpa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nsone-Key:
      - "<NS1_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f9c95b42cfe7a8e9cfbf3b2eab3a3618014be1ca"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Period:
      - '300'
      X-Ratelimit-Remaining:
      - '899'
    body:
      encoding: ASCII-8BIT
      string: '{"nx_ttl":3600,"retry":7200,"zone":"4.3.2.1.in-addr.arpa","dnssec":false,"network_pools":["p06"],"serial":1586995240,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"disabled":false,"records":[{"domain":"4.3.2.1.in-addr.arpa","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5e979d8cbbc7d10093bc2398"},{"domain":"4.3.2.1.in-addr.arpa","short_answers":["example.com."],"link":null,"ttl":60,"tier":1,"type":"PTR","id":"5e97a028bbc7d1009b8fc5ae"}],"meta":{},"link":null,"primary_master":"dns1.p06.nsone.net","ttl":3600,"id":"5e979d8cbbc7d10093bc2393","dns_servers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p06"}

        '
  recorded_at: Thu, 16 Apr 2020 00:00:43 GMT
recorded_with: VCR 5.1.0
